// Specific CSS for your home-page
.card {
  width: auto;
  height: 350px;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }

}

.image {
  height: 180px;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-size: cover;
  background-position: center;

}

.main-text {
  padding: 10px 20px;
  background-color: rgb(230, 230, 230);
  height: 80px;
  h3{
    margin: 0px 0px;
    margin-bottom: 5px;
  }
}
.subtext {
  display:flex;
  padding: 15px 20px;
  background-color: rgb(230, 230, 230);
  height:40px;
  p {
    font-size: 16px;
  }
}

.link {
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  height: 50px;
}

.a {
  margin: 0px 10px;
}
